html{
	height:100%;
}
body{
	background-size:cover;
	background-repeat:no-repeat;
	height:100%;
}
#wrapper{
	background:url(../images/lines_grey.png) repeat;
	height:100%;
}
header{
	padding: 5% 0 0 10%;
}
header a{
	width:197px;
	height:63px;
	text-indent:-9999px;
	overflow:hidden;
	background:url(../images/logo.png) no-repeat;
	display:block;
}
section{
	padding-top: 10%;
	padding-left:10%;
	display:none;
}
article{
	color:#fff;
	overflow:hidden;
	width:220px;
	-moz-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

article a{
	color:#fff;
	display:block;
	padding:10px 20px;
}
article a:hover{
	text-decoration:none;
}
article h2{
	font-size:24px;
	text-transform:capitalize;
}

.desc{
    font-size:12px;
}

#blog{
	background:#88CC10;
}
#blog:hover{
}
#blog h2{
}

#photo{
	background:orange;
}
#photo:hover{
}
#photo h2{
}

#project{
	background:#12B1CD;
}
#project:hover{
}
#project h2{
}


#contact{
	background:#CD12B4;
}
#contact:hover{
}
#contact h2{
}